<footer style="background-color: #ffffff;">
  <div class="footer-copyright text-center py-3" style="width: 1200px;">
      <div class="contact">Terrena Tragedia</div>© 2020 Copyright:
    <a href="https://www.liceoariostospallanzani-re.edu.it/">Liceo Spallanzani</a>
  </div> 	
</footer>
