<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inferno
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/INFERNO/1">CANTO I</a>
          <a class="dropdown-item" href="/INFERNO/2">CANTO II</a>
          <a class="dropdown-item" href="/INFERNO/3">CANTO III</a>
          <a class="dropdown-item" href="/INFERNO/4">CANTO IV</a>
          <a class="dropdown-item" href="/INFERNO/5">CANTO V</a>
          <a class="dropdown-item" href="/INFERNO/6">CANTO VI</a>
          <a class="dropdown-item" href="/INFERNO/7">CANTO VII</a>
          <a class="dropdown-item" href="/INFERNO/8">CANTO VIII</a>
          <a class="dropdown-item" href="/INFERNO/9">CANTO IX</a>
          <a class="dropdown-item" href="/INFERNO/10">CANTO X</a>
          <a class="dropdown-item" href="/INFERNO/11">CANTO XI</a>
          <a class="dropdown-item" href="/INFERNO/12">CANTO XII</a>
          <a class="dropdown-item" href="/INFERNO/13">CANTO XIII</a>
          <a class="dropdown-item" href="/INFERNO/14">CANTO XIV</a>
          <a class="dropdown-item" href="/INFERNO/15">CANTO XV</a>
          <a class="dropdown-item" href="/INFERNO/16">CANTO XVI</a>
          <a class="dropdown-item" href="/INFERNO/17">CANTO XVII</a>
          <a class="dropdown-item" href="/INFERNO/18">CANTO XVIII</a>
          <a class="dropdown-item" href="/INFERNO/19">CANTO XIX</a>
          <a class="dropdown-item" href="/INFERNO/20">CANTO XX</a>
          <a class="dropdown-item" href="/INFERNO/21">CANTO XXI</a>
          <a class="dropdown-item" href="/INFERNO/22">CANTO XXII</a>
          <a class="dropdown-item" href="/INFERNO/23">CANTO XXIII</a>
          <a class="dropdown-item" href="/INFERNO/24">CANTO XXIV</a>
          <a class="dropdown-item" href="/INFERNO/25">CANTO XXV</a>
          <a class="dropdown-item" href="/INFERNO/26">CANTO XXVI</a>
          <a class="dropdown-item" href="/INFERNO/27">CANTO XXVII</a>
          <a class="dropdown-item" href="/INFERNO/28">CANTO XVIII</a>
          <a class="dropdown-item" href="/INFERNO/29">CANTO XXIX</a>
          <a class="dropdown-item" href="/INFERNO/30">CANTO XXX</a>
          <a class="dropdown-item" href="/INFERNO/31">CANTO XXXI</a>
          <a class="dropdown-item" href="/INFERNO/32">CANTO XXXII</a>
          <a class="dropdown-item" href="/INFERNO/33">CANTO XXXIII</a>
          <a class="dropdown-item" href="/INFERNO/34">CANTO XXXIV</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Purgatorio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/PURGATORIO/1">CANTO I</a>
          <a class="dropdown-item" href="/PURGATORIO/2">CANTO II</a>
          <a class="dropdown-item" href="/PURGATORIO/3">CANTO III</a>
          <a class="dropdown-item" href="/PURGATORIO/4">CANTO IV</a>
          <a class="dropdown-item" href="/PURGATORIO/5">CANTO V</a>
          <a class="dropdown-item" href="/PURGATORIO/6">CANTO VI</a>
          <a class="dropdown-item" href="/PURGATORIO/7">CANTO VII</a>
          <a class="dropdown-item" href="/PURGATORIO/8">CANTO VIII</a>
          <a class="dropdown-item" href="/PURGATORIO/9">CANTO IX</a>
          <a class="dropdown-item" href="/PURGATORIO/10">CANTO X</a>
          <a class="dropdown-item" href="/PURGATORIO/11">CANTO XI</a>
          <a class="dropdown-item" href="/PURGATORIO/12">CANTO XII</a>
          <a class="dropdown-item" href="/PURGATORIO/13">CANTO XIII</a>
          <a class="dropdown-item" href="/PURGATORIO/14">CANTO XIV</a>
          <a class="dropdown-item" href="/PURGATORIO/15">CANTO XV</a>
          <a class="dropdown-item" href="/PURGATORIO/16">CANTO XVI</a>
          <a class="dropdown-item" href="/PURGATORIO/17">CANTO XVII</a>
          <a class="dropdown-item" href="/PURGATORIO/18">CANTO XVIII</a>
          <a class="dropdown-item" href="/PURGATORIO/19">CANTO XIX</a>
          <a class="dropdown-item" href="/PURGATORIO/20">CANTO XX</a>
          <a class="dropdown-item" href="/PURGATORIO/21">CANTO XXI</a>
          <a class="dropdown-item" href="/PURGATORIO/22">CANTO XXII</a>
          <a class="dropdown-item" href="/PURGATORIO/23">CANTO XXIII</a>
          <a class="dropdown-item" href="/PURGATORIO/24">CANTO XXIV</a>
          <a class="dropdown-item" href="/PURGATORIO/25">CANTO XXV</a>
          <a class="dropdown-item" href="/PURGATORIO/26">CANTO XXVI</a>
          <a class="dropdown-item" href="/PURGATORIO/27">CANTO XXVII</a>
          <a class="dropdown-item" href="/PURGATORIO/28">CANTO XVIII</a>
          <a class="dropdown-item" href="/PURGATORIO/29">CANTO XXIX</a>
          <a class="dropdown-item" href="/PURGATORIO/30">CANTO XXX</a>
          <a class="dropdown-item" href="/PURGATORIO/31">CANTO XXXI</a>
          <a class="dropdown-item" href="/PURGATORIO/32">CANTO XXXII</a>
          <a class="dropdown-item" href="/PURGATORIO/33">CANTO XXXIII</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Paradiso
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/PARADISO/1">CANTO I</a>
          <a class="dropdown-item" href="/PARADISO/2">CANTO II</a>
          <a class="dropdown-item" href="/PARADISO/3">CANTO III</a>
          <a class="dropdown-item" href="/PARADISO/4">CANTO IV</a>
          <a class="dropdown-item" href="/PARADISO/5">CANTO V</a>
          <a class="dropdown-item" href="/PARADISO/6">CANTO VI</a>
          <a class="dropdown-item" href="/PARADISO/7">CANTO VII</a>
          <a class="dropdown-item" href="/PARADISO/8">CANTO VIII</a>
          <a class="dropdown-item" href="/PARADISO/9">CANTO IX</a>
          <a class="dropdown-item" href="/PARADISO/10">CANTO X</a>
          <a class="dropdown-item" href="/PARADISO/11">CANTO XI</a>
          <a class="dropdown-item" href="/PARADISO/12">CANTO XII</a>
          <a class="dropdown-item" href="/PARADISO/13">CANTO XIII</a>
          <a class="dropdown-item" href="/PARADISO/14">CANTO XIV</a>
          <a class="dropdown-item" href="/PARADISO/15">CANTO XV</a>
          <a class="dropdown-item" href="/PARADISO/16">CANTO XVI</a>
          <a class="dropdown-item" href="/PARADISO/17">CANTO XVII</a>
          <a class="dropdown-item" href="/PARADISO/18">CANTO XVIII</a>
          <a class="dropdown-item" href="/PARADISO/19">CANTO XIX</a>
          <a class="dropdown-item" href="/PARADISO/20">CANTO XX</a>
          <a class="dropdown-item" href="/PARADISO/21">CANTO XXI</a>
          <a class="dropdown-item" href="/PARADISO/22">CANTO XXII</a>
          <a class="dropdown-item" href="/PARADISO/23">CANTO XXIII</a>
          <a class="dropdown-item" href="/PARADISO/24">CANTO XXIV</a>
          <a class="dropdown-item" href="/PARADISO/25">CANTO XXV</a>
          <a class="dropdown-item" href="/PARADISO/26">CANTO XXVI</a>
          <a class="dropdown-item" href="/PARADISO/27">CANTO XXVII</a>
          <a class="dropdown-item" href="/PARADISO/28">CANTO XVIII</a>
          <a class="dropdown-item" href="/PARADISO/29">CANTO XXIX</a>
          <a class="dropdown-item" href="/PARADISO/30">CANTO XXX</a>
          <a class="dropdown-item" href="/PARADISO/31">CANTO XXXI</a>
          <a class="dropdown-item" href="/PARADISO/32">CANTO XXXII</a>
          <a class="dropdown-item" href="/PARADISO/33">CANTO XXXIII</a>
        </div>
      </li>
    </ul>
  </div>
</nav>