<div class="jumbotron" style="width: 1200px; background-color:#31d4d4">
	    <div class="text-center">
	  <p class="lead">
	  <ul class="list-group" style="margin-bottom: 30px;">
	  <li class="list-group-item" style="background-color: #1c6085;">Ammonimento ai lettori</li>
  <li class="list-group-item" style="background-color: #1c6085;">Il cielo della luna</li>
  <li class="list-group-item" style="background-color:#1c6085;">Le macchie lunari</li>
  <li class="list-group-item" style="background-color: #1c6085;">Ordine delle influenze celesti
</li>
</ul>
	




	</p>
	 </div>
	</div>