<div class="jumbotron" style="width: 1200px; background-color:#31d4d4">
	    <div class="text-center">
	  <p class="lead">
	  <ul class="list-group" style="margin-bottom: 30px;">
	  <li class="list-group-item" style="background-color: #1c6085;">Beatrice intuisce i due dubbi di Dante</li>
  <li class="list-group-item" style="background-color: #1c6085;">Beatrice risolve il secondo dubbio sulla sede dei beati</li>
  <li class="list-group-item" style="background-color:#1c6085;">Beatrice risolve il primo dubbio sui voti inadempiuti</li>
  <li class="list-group-item" style="background-color: #1c6085;">Volontà assoluta e relativa
</li>
  <li class="list-group-item" style="background-color:#1c6085;">Nuovo dubbio di Dante</li>
</ul>

	</p>
	 </div>
	</div>