<div class="jumbotron" style="width: 1200px; background-color:#31d4d4">
	    <div class="text-center">
	  <p class="lead">
	  <img src="5.jpg" class="img-fluid" alt="Responsive image" style="width: 400px; height: 500px">
	  <ul class="list-group" style="margin-bottom: 30px;">
	  <li class="list-group-item" style="background-color: #1c6085;">Beatrice spiega a Dante il valore del voto</li>
  <li class="list-group-item" style="background-color: #1c6085;">Possibilità di permutare la materia del voto</li>
  <li class="list-group-item" style="background-color:#1c6085;">Ammonimento agli uomini sul voto</li>
  <li class="list-group-item" style="background-color: #1c6085;">Ascesa al II Cielo di Mercurio
</li>
  <li class="list-group-item" style="background-color:#1c6085;">
Incontro con gli spiriti del II Cielo</li>
</ul>
	




	</p>
	 </div>
	</div>