<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	<img src="2.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Descrizione dell'alba; apparizione dell'angelo</li>
  <li class="list-group-item">Incontro con le anime dei penitenti</li>
  <li class="list-group-item">Incontro con Casella </li>
  <li class="list-group-item">Il canto di Casella. Rimprovero di Catone </li>
</ul>





CANTO: In exitu Israel de Aegypto
CUSTODE: Angelo nocchiere

	
	</p>
	 </div>
	</div>