<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="4.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Osservazioni di Dante sul trascorrere del tempo</li>
  <li class="list-group-item">Dante e Virgilio salgono verso il primo balzo</li>
  <li class="list-group-item">Virgilio spiega a Dante il corso del Sole</li>
  <li class="list-group-item">Caratteristiche del monte del Purgatorio</li>
  <li class="list-group-item">Incontro con Belacqua; i pigri a pentirsi</li>
</ul>
	
	





ANTIPURGATORIO, I BALZO: i pentiti in punto di morte
PENA: in Antipurgatorio tanto quanto vissero

	</p>
	 </div>
	</div>