<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	<img src="7.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Colloquio tra Virgilio e Sordello</li>
  <li class="list-group-item">La legge della salita nel Purgatorio</li>
  <li class="list-group-item">La valletta dei principi</li>
  <li class="list-group-item">I principi negligenti</li>
</ul>





ANTIPURGATORIO, VALLETTA FIORITA: i principi negligenti
CANTO: Salve Regina
PENA: in Antipurgatorio tanto quanto vissero
CUSTODE: Angeli dalle ali verdi e dalle spada fiammeggiante e spuntata

		</p>
	 </div>
	</div>