<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	<img src="8.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">La preghiera della sera</li>
  <li class="list-group-item">L’arrivo dei due angeli</li>
  <li class="list-group-item">Incontro con Nino Visconti</li>
  <li class="list-group-item">Le tre stelle; gli angeli mettono in fuga il serpente</li>
  <li class="list-group-item">Colloquio con Corrado Malaspina</li>
</ul>
	




ANTIPURGATORIO, VALLETTA FIORITA: i principi negligenti
CANTO: Salve Regina
PENA: in Antipurgatorio tanto quanto vissero
CUSTODE: Angeli dalle ali verdi e dalle spada fiammeggiante e spuntata

	</p>
	 </div>
	</div>