<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="11.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Presso la tomba di papa Anastasio</li>
  <li class="list-group-item">Virgilio spiega a Dante la divisione del basso Inferno</li>
  <li class="list-group-item">I dannati fuori della città di Dite</li>
  <li class="list-group-item">Virgilio spiega la natura del peccato degli usurai</li>
</ul>
	

CERCHIO VI e FUORI DALLA CITTA’ DI DITE

	</p>
	 </div>
	</div>