<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="14.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">La landa infuocata del 3° girone</li>
  <li class="list-group-item">Capaneo</li>
  <li class="list-group-item">Il Flegetonte</li>
  <li class="list-group-item">Origine dei fiumi infernali. Il Veglio di Creta</li>
  <li class="list-group-item">Altri fiumi dell’aldilà</li>
</ul>
	

CERCHIO VII-3°GIRONE: i violenti contro Dio
Contrappasso per analogia (così come in vita scagliarono bestemmie verso Dio, i bestemmiatori ora sono bersaglio di una pioggia infuocata; i sodomiti, invece, poichè furono agitati da sozze passioni, ora camminano senza posa, colpiti dalla pioggia infuocata; infine gli usurai, essendo stati seduti al proprio banco facendo guadagni illeciti, sono ora costretti a sedere sotto la pioggia infuocata)

	</p>
	 </div>
	</div>