<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="15.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Incontro con schiera di sodomiti</li>
  <li class="list-group-item">Colloquio con Brunetto Latini</li>
  <li class="list-group-item">Brunetto profetizza l’esilio a Dante</li>
  <li class="list-group-item">Brunetto indica a Dante alcuni personaggi famosi</li>
  <li class="list-group-item">Allontanamento di Brunetto</li>
</ul>
	


CERCHIO VII-3°GIRONE

	</p>
	 </div>
	</div>