<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <ul class="list-group">
  <li class="list-group-item">Incontro con un’altra schiera di sodomiti</li>
  <li class="list-group-item">Colloquio con i tre Fiorentini</li>
  <li class="list-group-item">Cause della corruzione di Firenze</li>
  <li class="list-group-item">La corda di Dante e l’arrivo di Gerione</li>
</ul>
	

	CERCHIO VII-3°GIRONE

	</p>
	 </div>
	</div>