<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="18.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Le Malebolge</li>
  <li class="list-group-item">La prima bolgia: ruffiani e seduttori</li>
  <li class="list-group-item">Incontro con Venedico Caccianemico</li>
  <li class="list-group-item">I seduttori: Giasone</li>
  <li class="list-group-item">La seconda bolgia: adulatori</li>
  <li class="list-group-item">Incontro con Alessio Interminelli</li>
  <li class="list-group-item">La meretrice Taide</li>
</ul>
	


CERCHIO VIII:
1^ BOLGIA: ruffiani e seduttori (contrappasso per analogia: così come all’epoca di Dante i peccatori puniti pubblicamente per colpe sessuali venivano frustati nel deretano, ruffiani e seduttori sono percossi crudelmente da diavoli nella stessa maniera)
2^ BOLGIA: adulatori (contrappasso per analogia: come in vita si insozzarono moralmente, sono ora insozzati materialmente, essendo attuffati nello sterco)


	</p>
	 </div>
	</div>