<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="19.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item"> La terza bolgia: i simoniaci</li>
  <li class="list-group-item">Incontro con papa Niccolò III</li>
  <li class="list-group-item">Invettiva contro i papi simoniaci</li>
  <li class="list-group-item">Virgilio riporta Dante sul ponte della bolgia</li>
</ul>
	 

CERCHIO VIII:
3^ BOLGIA: simoniaci (contrappasso per opposizione: dal momento che hanno capovolto il fine della vita, sono conficcati a testa in giù nel terreno e hanno le piante dei piedi in fiamme, in antitesi con le aureole dei santi/come ripresa ironica della discesa del fuoco dello Spirito Santo sugli apostoli)

		</p>
	 </div>
	</div>