<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="21.jpg" class="img-fluid" alt="Responsive image">
	<ul class="list-group">
  <li class="list-group-item">La quinta bolgia: i barattieri</li>
  <li class="list-group-item">Arrivo di un peccatore</li>
  <li class="list-group-item">Virgilio parlamenta con i diavoli</li>
  <li class="list-group-item">Timore di Dante</li>
  <li class="list-group-item">Le bugie di Malacoda</li>
  <li class="list-group-item">Dante e Virgilio partono in compagnia dei diavoli</li>
</ul>


CERCHIO VIII: 
5^ BOLGIA: barattieri (contrappasso per analogia: così come in vita hanno agito di nascosto, ora i peccatori sono celati dalla pece bollente; inoltre, dal momento che con il proprio peccato hanno stravolto la situazione modificando gli assetti politici, ora stravolgono la situazione non attenendosi alle regole,  così come, del resto, i diavoli stessi non si attengono ad esse)

	</p>
	 </div>
	</div>