<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="22.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Commento al segnale di Barbariccia</li>
  <li class="list-group-item">La “fiera compagnia” dei demoni</li>
  <li class="list-group-item">Ciampolo di Navarra</li>
  <li class="list-group-item">Frate Gomita e Michel Zanche</li>
  <li class="list-group-item">L’inganno di Ciampolo</li>
  <li class="list-group-item">La zuffa dei demoni</li>
</ul>
	


CERCHIO VIII:
5^ BOLGIA

	</p>
	 </div>
	</div>