<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="23.jpg" class="img-fluid" alt="Responsive image">
	<ul class="list-group">
  <li class="list-group-item">Fuga dei due poeti verso la bolgia sesta</li>
  <li class="list-group-item">Gli ipocriti e la loro pena
</li>
  <li class="list-group-item">Due frati godenti: Catalano e Loderingo</li>
  <li class="list-group-item">La pena di Caifas e del suocero Anna</li>
  <li class="list-group-item">Uscita dalla bolgia</li>
</ul>


CERCHIO VIII: 
6^ BOLGIA: ipocriti (contrappasso per analogia: così come in vita si gravarono di peccato, così ora sono gravati da pesanti cappe di piombo, rivestite esternamente d’oro in accordo con l’errata etimologia greca della parola “ipocrita”)

	</p>
	 </div>
	</div>