<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="24.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Sgomento e conforto di Dante</li>
  <li class="list-group-item">I due poeti salgono sull’argine della settima bolgia</li>
  <li class="list-group-item">La bolgia dei ladri e la loro pena</li>
  <li class="list-group-item">Vanni Fucci</li>
</ul>
	




	CERCHIO VIII:
7^ BOLGIA: ladri (contrappasso per opposizione: dal momento che in vita privarono gli altri dei propri averi, ora tocca a loro essere privati del proprio sembiante attraverso la metamorfosi in serpenti; per analogia, invece, mantengono la propria malvagità verso gli altri, in quanto sono loro stessi -sotto forma di serpenti- a determinare la trasformazione altrui, attaccando)

	</p>
	 </div>
	</div>