<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	“Gli dei giocano a dadi con la vita degli uomini…”
	Da questa frase nasce l’idea di un gioco ambientato nell’antica Grecia che si sviluppi su due piani -divino e mortale- nel quale ogni giocatore rappresenta uno dei dodici Olimpi in una continua lotta sempre piena di imprevisti.
	</p>
	 </div>
	</div>