<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	<ul class="list-group">
  <li class="list-group-item">Incontro con Guido da Montefeltro</li>
  <li class="list-group-item">Condizione della Romagna</li>
  <li class="list-group-item">Racconto di Guido da Montefeltro: sua vita fino alla conversione</li>
  <li class="list-group-item">Bonifazio fa ricadere Guido nel peccato</li>
  <li class="list-group-item">Fine del racconto di Guido; passaggio alla nona bolgia</li>
</ul>



CERCHIO VIII:
8^ BOLGIA

	</p>
	 </div>
	</div>