<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="28.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Visione della nona bolgia</li>
  <li class="list-group-item">Incontro con Maometto</li>
  <li class="list-group-item">Incontro con Pier da Medicina</li>
  <li class="list-group-item">Presentazione di Curione</li>
  <li class="list-group-item">Incontro con Mosca dei Lamberti</li>
  <li class="list-group-item">Incontro con Bertram dal Bornio</li>
</ul>
	


CERCHIO VIII:
9^ BOLGIA: seminatori di discordia e provocatori di scismi (contrappasso per opposizione: in vita divisero con le loro opere, pertanto sono ora divisi e mutilati nelle membra del corpo)

	</p>
	 </div>
	</div>