<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="29.jpg" class="img-fluid" alt="Responsive image">
	<ul class="list-group">
  <li class="list-group-item">Rimprovero di Virgilio</li>
  <li class="list-group-item">Geri del Bello</li>
  <li class="list-group-item">Visione della decima bolgia: pena dei falsatori di metalli</li>
  <li class="list-group-item">Griffolino d’Arezzo</li>
  <li class="list-group-item">Capocchio</li>
</ul>






CERCHIO VIII:
10^ BOLGIA: falsari di metalli e di persone(contrappasso per analogia: chi ha falsato viene falsificato nel corpo, essendo soggetto di scabbia o idropisia)

	</p>
	 </div>
	</div>