<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="3.jpg" class="img-fluid" alt="Responsive image">
	<ul class="list-group">
  <li class="list-group-item">L’ingresso nell’Inferno</li>
  <li class="list-group-item">La prima schiera dei dannati: gli ignavi</li>
  <li class="list-group-item">Arrivo all’Acheronte: Caronte</li>
  <li class="list-group-item">Spiegazione di Virgilio e svenimento di Dante</li>
</ul>
ANTINFERNO: gli ignavi
Contrappasso per opposizione (le anime sono costrette a correre dietro ad uno stendardo mentre sono punte sul viso da mosconi e vespe; il sangue si mescola alle lacrime ai loro piedi ed è colto da vermi)

	</p>
	 </div>
	</div>