<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="30.jpg" class="img-fluid" alt="Responsive image">
	<ul class="list-group">
  <li class="list-group-item">Due similitudini per indicare il furore dei falsatori di persone</li>
  <li class="list-group-item">Apparizione di Gianni Schicchi e di Mirra</li>
  <li class="list-group-item">I falsatori di monete: maestro Adamo</li>
  <li class="list-group-item">I falsatori di parola</li>
  <li class="list-group-item">Rissa tra maestro Adamo e Sinone</li>
  <li class="list-group-item">Rimprovero di Virgilio</li>
</ul>



CERCHIO VIII:
10^ BOLGIA

	</p>
	 </div>
	</div>