<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="31.jpg" class="img-fluid" alt="Responsive image">
	<ul class="list-group">
  <li class="list-group-item">Similitudine della lancia d’Achille</li>
  <li class="list-group-item">I giganti</li>
  <li class="list-group-item">Il gigante Nembrot</li>
  <li class="list-group-item">
Il gigante Fialte</li>
<li class="list-group-item">
Il gigante Anteo</li>
</ul>





POZZO DEI GIGANTI: probabilmente allo stesso tempo dannati e custodi, sono legati da pesanti catene e caratterizzati dall’incapacità di comunicare tra loro e di intendere persino se stessi (segno della matta bestialitade e del peccato di hybris).

	</p>
	 </div>
	</div>