<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="32.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Esordio</li>
  <li class="list-group-item">Prima zona: Caina</li>
  <li class="list-group-item">I conti di Mangona e altri traditori</li>
  <li class="list-group-item">Seconda zona: Antenora. Bocca degli Abati.</li>
  <li class="list-group-item">Bocca denuncia altri traditori</li>
  <li class="list-group-item">Ugolino e l’arcivescovo Ruggieri</li>
</ul>
	






CERCHIO IX: traditori (contrappasso per analogia -come si sono dimostrati in vita insensibili e lontani dall’amore, così ora sono disposti nelle pose più svariate all’interno di un lago ghiacciato- e per opposizione -le lacrime dei peccatori adiacenti si congelano e li legano al proprio vicino, spesso indesiderato in quanto nemico in vita).
1^ ZONA (CAINA): traditori dei parenti.
2^ ZONA (ANTENORA): traditori della patria.

	</p>
	 </div>
	</div>