<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="33.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Ugolino racconta la morte dei figli e la propria</li>
  <li class="list-group-item">Invettiva contro Pisa</li>
  <li class="list-group-item">Passaggio alla terza zona, Tolomea, sede dei traditori degli ospiti</li>
  <li class="list-group-item">Colloquio con frate Alberigo</li>
  <li class="list-group-item">Invettiva contro i Genovesi</li>
</ul>


CERCHIO IX:
3^ ZONA (TOLOMEA): traditori degli ospiti.

	</p>
	 </div>
	</div>