<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="34.jpg" class="img-fluid" alt="Responsive image">
	<ul class="list-group">
  <li class="list-group-item">Prima apparizione di Lucifero</li>
  <li class="list-group-item">Quarta zona: Giudecca. Lucifero</li>
  <li class="list-group-item">
I tre supremi traditori della Chiesa e dell’Impero: Giuda, Bruto, Cassio.</li>
  <li class="list-group-item">I due poeti escono dall’Inferno</li>
   <li class="list-group-item">
Lucifero capovolto. Virgilio spiega la caduta di Lucifero e l’origine dell’Inferno</li>
  <li class="list-group-item">I poeti escono a “riveder le stelle”</li>
</ul>






CERCHIO IX:
4^ ZONA (GIUDECCA): traditori dei benefattori.

	</p>
	 </div>
	</div>