<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="4.jpg" class="img-fluid" alt="Responsive image">
	  <ul class="list-group">
  <li class="list-group-item">Risveglio di Dante</li>
  <li class="list-group-item">Il Limbo</li>
  <li class="list-group-item">La discesa di Cristo nel Limbo</li>
  <li class="list-group-item">L’incontro con i quattro poeti antichi</li>
  <li class="list-group-item">Il nobile castello</li>
  <li class="list-group-item">Gli spiriti magni. Uscita dal nobile castello.</li>
</ul>

CERCHIO I: il Limbo (contrappasso per analogia: poichè sono stati privi in vita della verità e della fede, sono privi ora della luce divina)

	</p>
	 </div>
	</div>