<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	  <img src="7.jpg" class="img-fluid" alt="Responsive image">
	<ul class="list-group">
  <li class="list-group-item">Il demonio Pluto</li>
  <li class="list-group-item">Gli avari e i prodighi</li>
  <li class="list-group-item">La teoria della Fortuna</li>
  <li class="list-group-item">Discesa al V cerchio: gli iracondi
</li>
</ul>

CERCHIO IV: gli avari e i prodighi
Contrappasso per opposizione (condannate a spingere inutilmente pesi avanti ed indietro, in corrispondenza dei due estremi del diametro del cerchio i due gruppi di anime si scontrano, cozzando e rinfacciandosi il peccato reciproco)
	
	CERCHIO V: gli iracondi e gli accidiosi
Contrappasso per analogia (entrambi i gruppi di peccatori sono immersi nella palude Stigia, che simboleggia la mancanza di equilibrio; in tale luogo gli iracondi si picchiano e si lacerano mordendosi, mentre gli accidiosi, così come furono indolenti in vita, sono condannati a stare sommersi sotto la superficie dell’acqua, dalla quale salgono bolle che simboleggiano il respiro dei dannati sottostanti)

	</p>
	 </div>
	</div>