<div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <p class="lead">
	<ul class="list-group">
  <li class="list-group-item">Apparizione di Flegiàs</li>
  <li class="list-group-item">Incontro con Filippo Argenti</li>
  <li class="list-group-item">La città di Dite</li>
  <li class="list-group-item">L’opposizione dei diavoli</li>
</ul>

CERCHIO V e ALLE PORTE DELLA CITTA’ DI DITE

	</p>
	 </div>
	</div>